@page "/login"
<PageTitle>Login</PageTitle>

@using LibraryApplication.Data

<h1>Login</h1>
<form action="/accountservice/externallogin" method="post">
    <button type="submit" class="btn btn-outline-dark" title="Login using your Google account"><img style="width:40px;height:40px"src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-webinar-optimizing-for-success-google-business-webinar-13.png"></button>
</form>

@code {
    
}
