@page "/logout"
<PageTitle>Logout</PageTitle>

<h1>Logout</h1>
Logging out...
<meta http-equiv="refresh" content="5; URL=/accountservice/logout" />
<body>
  <p>If you are not redirected in five seconds, <a href="/accountservice/logout">click here</a>.</p>
</body>
@code {

}
