@inherits LayoutComponentBase

<PageTitle>LibraryApplication</PageTitle>

<div class="page">
    <div class="sidebar" style="background: linear-gradient(70deg, #668e99, #579ba8);">
        <NavMenu />
    </div>

    <main>
        <body style="background-color:#e9f8fe;">
</body>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
