@inherits LayoutComponentBase

<PageTitle>LibraryApplication</PageTitle>

<div class="page">
    <div class="sidebar" style="background: linear-gradient(to left, #D3B56B, #C69B39);">
        <NavMenu />
    </div>

    <main>
        <body style="background-color:#F3EBD6;">
</body>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
